/*-----------Reset-----------*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, 
blockquote, pre, form, fieldset, table, th, td { 
	margin: 0; padding: 0; 
}

@font-face{
	font-family: PT-Sans;
	src: url(../font/PTN57F.ttf);
}
@font-face{
	font-family: PT-Sans2;
	src: url(../font/PTS55F.ttf);
}

/*-----------Basic-----------*/
body{
	background-color: #FFF;
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	font-size: 16px;
	min-width: 1182px;
	line-height: 1;
	font-family: PT-Sans2,Sans-serif, Century Gothic, Arial;
}

#header_wrap,#content_wrap{
	margin: 0px auto;
	width: 1182px;
	height: 100%;
}

span{ margin-left: 4px;}
a{text-decoration: none}

/*-----------TopBar-----------*/
#topbar{
	border-top: 3px solid #98b827;
	border-bottom: 1px solid #e2e2e2;
	background-color: #FFF;
	font-family: inherit;
	color: #797979;
	margin-bottom: 46px;
	width: 100%;
	height: 29px;
}
	#topbar .topbar_inner{
		font-size: 14px;
		margin: 0 auto;
		width: 1182px;
		height: 100%;
	}
	.topbar_inner p{
		display: inline;
		float: left;
		margin-right: 49px;
		line-height: normal;
		padding-top: 4px;
	}
	.topbar_inner p a,select{
		color: #98b827;
	}
	.selectStyle select{
		-webkit-appearance: none;
   		-moz-appearance: none;
   		appearance: none;
   		border: none;
   		background: transparent;
		width: 70px;
	}
	.selectStyle{
		background: url(../images/pull_down.gif) no-repeat right center;
		margin: 0;
	}
	select.currency{width: 55px;}
	
	/*右邊連結*/
	.topbar_inner ul{float: right; padding-top: 5px;}
	.topbar_inner li{float: left; list-style: none;}
	.topbar_inner li>a, .topbar_inner li>span{
		color: inherit; 
		margin-left: 13px;
	}
	/*HoverEffect*/
	.topbar_inner a:hover{color: #98b827;}
	.selectStyle select:hover{cursor: pointer;}
/*------------------------------
			Header
------------------------------*/
#header{
	width: 100%;
	height: 100%;
	margin-bottom: 62px;
	overflow: auto;
}
	.logo a,h1{
		background-image: url(../images/logo.png);
		background-repeat: no-repeat;
		display: block;
		float: left;
		margin-bottom: 40px;
		text-indent: -9999px;
		width: 315px;
		height: 60px;
	}

/*-----icon區位置排列-----*/
	.icon {
		float: right;
		position: relative;
		width: 550px;
		height: 40px;
	}
	.icon input{float: left;}
	.icon ul{float: right;}
	.icon li{
		float: left;
		list-style: none;
		margin-left: 5px;
	}

/*---處理搜尋框與按鈕的位置---*/
	.icon input[type=image]{ /*搜尋紐*/
		background-color: #cfcfcf;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		position: relative;
		left: 35px;
		width: 40px;
		height: 40px;
		z-index: 1;
	}
	.icon input[type=search]{ /*搜尋框*/
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-box-sizing: border-box;
		position: relative;
		left: 75px;
		z-index: 0;
		width: 250px;
		height: 100%;
	}
/*---處理每個icon的背景及外框圓角等效果---*/
	.iconHover{
		background: url(../images/icon.png) no-repeat;
		background-color: #cfcfcf;
		border-radius: 5px;
		display: block;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-webkit-transition: background 0.3s;
        transition: background 0.3s;
        width: 40px;
		height: 40px;
	}
		/*Each Icon Position and HoverEffect*/
		.iconHover.rss{background-position: 0 0;}
		.iconHover.rss:hover{
			background-color: #f36f24;
			background-position: 0px -40px;
		}

		.iconHover.pinterest{background-position: -46px 0;}
		.iconHover.pinterest:hover{
			background-color: #bd2126; 
			background-position: -46px -40px;
		}

		.iconHover.facebook{background-position: -92px 0}
		.iconHover.facebook:hover{
			background-color: #4862a3; 
			background-position: -92px -40px;
		}

		.iconHover.twitter{background-position: -138px 0;}
		.iconHover.twitter:hover{
			background-color: #55acee; 
			background-position: -138px -40px;
		}

		.iconHover.dribble{background-position: -184px 0}
		.iconHover.dribble:hover{
			background-color: #ea4c89; 
			background-position: -184px -40px;
		}

	/*	.rss{
			display: block;
			background: url(../images/icon_rss.png) no-repeat center center;
			width: 40px;
			height: 40px;
		}
		.pinterest{
			display: block;
			background: url(../images/icon_pinterest.png) no-repeat center center;
			width: 40px;
			height: 40px;
		}
		.facebook{
			display: block;
			background: url(../images/icon_facebook.png) no-repeat center center;
			width: 40px;
			height: 40px;
		}
		.twitter{
			display: block;
			background: url(../images/icon_twitter.png) no-repeat center center;
			width: 40px;
			height: 40px;
		}
		.dribble{
			display: block;
			background: url(../images/icon_dribble.png) no-repeat center center;
			width: 40px;
			height: 40px;
		}*/

/*HoverEffect*/
	.icon input[type=image]:hover{background-color: #98b827;}


/*-----------Menu-----------*/
.nav{
	background-image: url(../images/separator.png), url(../images/separator.png);
	background-repeat: repeat-x, repeat-x;
	background-position: top, bottom;
	float: left;
	font-size: 18px;
	position: relative;
	width: 100%;
	height: 86px;
}
	.nav ul{
		margin-top: 30px;
		width: 100%;
		height: 21px;
	}
		.nav li{
			display: inline-block;
			margin-right: 37px;
		}
		.nav li>a{
			color: #000;
		}
		.buyCartButton{
			padding-top: 0px;
			position: absolute;
			top: 16px;
			right: 0;
			margin-right: 0;
		}
/*HoverEffect*/
	.nav a:hover{color: #98b827;}
	.buyCartButton:hover{opacity: 0.8;}

/*------------------------------
			SlideShow
------------------------------*/

/*-----------SlideShow(JQuery)-----------*/
#slideShow_wrap{
	background-image: url(../images/container_bg.jpg);
	position: relative;
	width: 100%;
	height: 420px;
}
	.slideShowContainer{
		width: 100%;
	}
		 .slide{
		 		position: relative;
		 		margin-right: 1px;
				float: left;
			}


/*-----slideShow前、後按鈕-----*/
	#slideShow_wrap span.prev{
		display: block;
		position: absolute;
		top: 170px;
		left: 65px;
		width: 90px;
		height: 90px;
		text-indent: -9999px;
		z-index: 9;
	}
	#slideShow_wrap span.next{
		display: block;
		position: absolute;
		top: 170px;
		right: 65px;
		width: 90px;
		height: 90px;
		text-indent: -9999px;
		z-index: 9;
	}
	#slideShow_wrap .prev{
		background: url(../images/slideShowLeft_button.png) no-repeat;
	}
	#slideShow_wrap .next{
		background: url(../images/slideShowRight_button.png) no-repeat;
}
/*HoverEffect*/
	.prev, .next{opacity: 0.7;}
	.prev:hover, .next:hover{opacity: 1;}

/*-----slideShow上的文字-----*/
		
		.opacityBG{		/*透明背景*/
			background-color: #000;
			opacity: 0.5;
			position: absolute;
			top: 20px;
			left: 20px;
			width:450px;
			height: 250px;
			visibility: hidden;
			z-index: 10;
		}

		.slideShowText{	/*SlideShow上的文字敘述*/
			position: absolute;
			top: 48px;
			left: 50px;
			z-index: 10;
		}
		.slideShowTitle{	/*SlideShow Title*/
			color: #ebebeb;
			font-family: PT-Sans;
			font-size: 48px;
			margin-bottom: 25px;
		}
		.slideShowDescription{	/*SlideShow Description*/
			color: #ebebeb;
			line-height: 1.5;
			margin-bottom: 20px;
		}
		.slideShowLink {	/*Check the Product*/
			background: url(../images/viewMore.png) no-repeat right 5px;
			color: #95b924;
			font-weight: normal;
			padding-right: 10px;/*推擠按鈕空間*/
		}
/*HoverEffect*/
	.slideShowLink:hover{text-decoration: underline;}
/*------------------------------
			Content
------------------------------*/
#content{
	width: 100%;
	height: 100%;
}
/*-----slideShow下方引用-----*/
.quote{
	background-color: #fff;
	border-bottom: 1px solid #cdcdcd;
	/*box-shadow: 0 1px 1px #777777;*/
	margin-bottom: 65px;
	position: relative;
	width: 100%;
	height: 80px;
}
	.quote p{
		color: #222224;
		font-family: PT-Sans;
		font-size: 44px;
		padding: 16px 0 0 19px;
	}
	.quote p>span{margin-left: 11px;}
	.quote a{
		display: block;
		position: absolute;
		top: 14px;
		right: 21px;
	}
/*HoverEffect*/
	.quote a:hover{opacity: 0.8;}


/*-----------Prducts Content-----------*/
/*-----標題分隔-----*/
.productTitle{
	width: 100%;
	margin-bottom: 24px;
	position: relative;
}
	.productTitle h2{	/*標題*/
		background: url("../images/background.jpg") repeat;
		display: inline-block;
		font-size: 24px;
		position: relative;
	}
	.separator{			/*分隔線*/
		background-image: url(../images/separator.png);
		background-repeat: repeat-x;
		position: absolute;
		margin-top: 5px;
		width: 1132px;
		height: 20px;
	}
/*	.sponsorTitle{width: 1182px;}*/
	.productTitle a{	/*商品標題小按鈕*/
		height: 23px;
		width: 22px;
		position: absolute;
		display: block;
	}
	.recentPrevButton, .featuredPrevButton, .sponsorPrevButton{	/*商品標題小按鈕*/
		background-image: url(../images/left_button.png);
		/*margin-left: 1135px;*/
		position: absolute;
		top: 0;
		right: 24px;
	}
	.recentNextButton, .featuredNextButton, .sponsorNextButton{	/*商品標題小按鈕*/
		background-image: url(../images/right_button.png);
		/*margin-left: 1160px;*/
		position: absolute;
		top: 0;
		right: 0;
}
/*HoverEffect*/
	.productTitle a:hover{opacity: 0.8;}

/*-----商品內容-----*/
#content .recentProducts,.featuredProducts{
	margin-bottom: 67px;
	width: 100%;
	height: 430px;
}
	.recentProducts ul ,.featuredProducts ul{	
		list-style: none;
		overflow: auto; /*消除float副作用*/
		width: 100%;
	}

	.recentProducts li{		/*Rectne Products*/
		border: 1px solid #efefef;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background: #fff url(../images/bottomBorder.png) repeat-x bottom;
		float: left;
		position: relative;
		height: 423px;
		width: 278px;	
	}

	.featuredProducts li{	/*Featured Products*/
		border-bottom: 1px solid #efefef; 
		background-color: #fff;
		float: left;
		position: relative;
		width: 280px;	
		height: 425px;
	}
		.recentProducts .list, .featuredProducts .list{	/*推擠產品清單用*/
			margin-right: 20px;
		}
		
		.onSale{/*On Sale圖片*/
			position: absolute;
			top: 11px;
			left: 14px;
			z-index: 1;
		}
		.product{/*商品相片*/
			display: block;
			float: left;
			margin-bottom: 10px;
			position: relative;
			z-index: 0;
		}
		.price{/*價格*/
			font-weight: bold;
			font-size: 18px;
			float: left;
			margin: 0;
			padding: 5px 0 20px 15px;
		}
		.addToCart{/*購物車按鈕*/
			float: right;
			margin: 0 16px 10px 0;
		}
		.recentProducts li>h3,.featuredProducts li>h3{ /*商品標題*/
			border-top: 1px solid #e7e7e7;
			float: left;
			font-size: 20px;
			font-weight: normal;
			margin-bottom: 0px;
			padding: 21px 0 15px 15px;
			width: 265px;
		}
		.recentProducts li>p,.featuredProducts li>p{/*商品敘述*/
			color: #9b9b9b;
			clear: both;
			border-bottom: 1px solid #e7e7e7;
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 15px;
			padding: 0 36px 18px 15px;
		}
		.viewTheProduct{ /*View the Product連結*/
			background: url(../images/viewMore.png) no-repeat right 3px;
			color: #95b924;	
			float: left;
			padding-left: 15px;
			padding-right: 15px;/*推擠按鈕空間*/
		}
/*HoverEffect*/
	.product:hover{opacity: 0.8;}
	.addToCart:hover{opacity: 0.8;}
	.viewTheProduct:hover{text-decoration: underline;}

/*-----Sponsor-----*/
.sponsor{
	margin-bottom: 65px;
	width: 100%;
}
	.sponsor ul{
		border: 1px solid #dedede;
		height: 130px;
	}
		.sponsor li{
			border: 1px solid #dedede;
			background-color: #fff;
			display: inline-block;
			width: 235px;
			height: 100%;
		}	
		.sponsor a{
			display: inline-block;
			width: 100%;
			height: 100%;
		}
		.sponsor img{
			display: block;
			margin: 0px auto 0 auto;
		}
/*HoverEffect*/
.sponsor a:hover{opacity: 0.5;}

/*------------------------------
			Footer
------------------------------*/
#goTop{	/*移至頂端按鈕*/
	position: fixed;
	right: 80px;
	bottom: 0px;
	z-index: 99;
}

#footer{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #fff;
	padding-top: 47px;
	width: 100%;
	height: 290px;
}
	#footer h2{
		font-size: 24px;
		font-weight: normal;
	}
	.footer{
		margin: 0 auto;
		overflow: auto;
		width: 1182px;
	}
	.footer >li{
		float: left;
		list-style-type: none;
	}
	.footer >li ul{
		list-style-type: none;
	}
	.column1,.column2,.column3{margin-right: 62px;}
		/*Column1*/
			a.logo{
				background: url(../images/logo.png) no-repeat;
				background-size: 100% 100%;
				display: block;
				margin-bottom: 45px;
				width: 240px;
				height: 48px;
			}
			.column1 h2{margin-bottom: 19px;}
			.column1 ul{overflow: auto;}
			.column1 li{
				float: left;
				margin-right: 5px;
			}
		/*	.column1 li>a{
				background-color: #cfcfcf;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}*/
/*HoverEffect*/
/*	.column1 li>a:hover{background-color: #95b924;}*/

		/*Column2*/
		.column2{width: 265px;}
		.column2 h2{margin-bottom: 25px;}
		.column2 ul{overflow: auto;}
			.column2 li{
				border: 1px solid #dddddd;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				float: left;
				margin-bottom: 16px;
				overflow: hidden;
				height: 68px;
			}
			.column2 li>a{
				float: left;
				margin-right: 14px;
				height: 70px;
			}
			.column2 li h4{  /*Post Title*/
				float: left;
				margin-bottom: 10px;
				padding-top: 15px;
			}
			.column2 li p{	/*posted by*/
				font-size: 14px;
				display: inline-block;
			}
			.column2 li>p a{color:#95b924;}
/*HoverEffect*/
	.column2 li>a:hover{opacity: 0.8;}

		/*Column3*/
			.column3 h2{margin-bottom: 24px;}
			.column3 li{margin-bottom: 32px;}
			.column3  p{
				font-size: 14px;
				margin-bottom: 10px;
			}

		/*Column4*/
		.column4 h2{margin-bottom: 19px}
		.column4 ul{width: 330px;overflow: auto;}
			.column4 li{
				float: left;
				margin-bottom: 22px;
			}
				.commenter img{margin-bottom: 5px;}
				.commenter{
					float: left;
					font-size: 14px;
					font-weight: bold;
					margin-right: 16px;
					text-align: center;
				}
				.comment{
					border-radius: 10px;
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					background: #f6f4f4 url(../images/comment.png) no-repeat right bottom;
					float: left;
					font-size: 14px;
					line-height: normal;
					width: 235px;
					height: 93px;
					border: 1px solid #dddddd;
				}
				.comment p{
					padding:11px 0px 29px 13px;
				}
/*HoverEffect*/
	.column4 img:hover{opacity: 0.8;}

/*-----------BottomBar-----------*/
#bottombar{
	border-top: 3px solid #97b728;
	background-color: #1b1b1b;
	font-size: 12px;
	color: #9b9b9b;
	margin: 0 auto;
	width: 100%;
	height: 31px;
}
	#bottombar div{
		margin: 0 auto;
		width: 1182px;
		height: 100%;
	}
	.bottomNav{
		float: left;
		overflow: auto;
		padding: 8px 0;
	}
	.bottomNav li{ /*左邊導覽*/
		float: left;
		font-size: 11px;
		list-style: none;
		margin-right: 15px;
	}
	.bottomNav li>a{color: #9b9b9b;}
	.copyRight{
		float: right;
		font-size: 12px;
		padding: 8px 0;
	}
/*HoverEffect*/
	.bottomNav li>a:hover{color: #95b924;}


/*------------------------------
		Media Queries
------------------------------*/
